body {
    background-color: #f9f9f9;
}

.signup-page {
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px;
}

.form-bg {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 40px 30px;
}

.signup-page h2 {
    font-size: 17px;
    margin: 15px 5px;
    color: gray;
}

.signup-btn {
    background-color: #d93025;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 0px 10px;
}

.signup-btn:hover {
    opacity: 0.9;
}

input:focus,
textarea:focus {
    background-color: rgb(159, 219, 216) !important;
}

.img {
    width: 100px;
    height: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}